<p id="notice"><%= notice %></p>

<p>
  <strong>Action:</strong>
  <%= @feed.action %>
</p>

<p>
  <strong>Trade:</strong>
  <%= @feed.trade %>
</p>

<p>
  <strong>User:</strong>
  <%= @feed.user %>
</p>

<p>
  <strong>Store:</strong>
  <%= @feed.store %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
