<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Cnpj</th>
      <th>Address</th>
      <th>Pay day</th>
      <th>Message</th>
      <th>Blocked</th>
      <th>Blocked message</th>
      <th>Plan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.contact_name %></td>
        <td><%= store.email %></td>
        <td><%= store.phone %></td>
        <td><%= store.cnpj %></td>
        <td><%= store.address %></td>
        <td><%= store.pay_day %></td>
        <td><%= store.message %></td>
        <td><%= store.blocked %></td>
        <td><%= store.blocked_message %></td>
        <td><%= store.plan %></td>
        <td><%= link_to 'Show', store %></td>
        <td><%= link_to 'Edit', edit_store_path(store) %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>