<p id="notice"><%= notice %></p>

<h1>Listing Stores</h1>

<%= form_tag stores_path, :method => 'get', :id => "stores_search", remote: true do %>
    <div> <%= text_field_tag :search, params[:search],:placeholder =>"Pesquisar"%> <br></div>
<% end %>

<div id="stores">
    <%= render 'stores/liststores' %>
</div>

<br>

<%= link_to 'New Store', new_store_path %>
