<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @store.contact_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @store.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @store.phone %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @store.cnpj %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>Pay day:</strong>
  <%= @store.pay_day %>
</p>

<p>
  <strong>Message:</strong>
  <%= @store.message %>
</p>

<p>
  <strong>Blocked:</strong>
  <%= @store.blocked %>
</p>

<p>
  <strong>Blocked message:</strong>
  <%= @store.blocked_message %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @store.plan %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
