<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<%= form_tag users_path, :method => 'get', :id => "users_search", remote: true do %>
    <div> <%= text_field_tag :search, params[:search],:placeholder =>"Pesquisar"%> <br></div>
<% end %>


<div id="users">
    <%= render 'users/listusers' %>
</div>

<br>

<%= link_to 'New User', new_user_path %>
