<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Store:</strong>
  <%= @user.store %>
</p>

<p>
  <strong>User type:</strong>
  <%= @user.user_type %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<input type="hidden" id="user_id" value="<%= @user.id %>">


<p>
  <strong>Enviar mensagem:</strong>
  <input type="text" id="notification_message" name="notification_message">
  <input type="submit" id="notification_button" value="Enviar">
</p>