<p>Olá <%= @resource.email %>!</p>

<p>Sua conta foi bloqueada por muitas tentativas de acesso.</p>

<p>Você pode desbloquear sua conta no link abaixo:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, unlock_token: @token) %></p>
