<p id="notice"><%= notice %></p>

<h1>Listing Trades</h1>

<table>
  <thead>
    <tr>
      <th>Store</th>
      <th>User</th>
      <th>Active</th>
      <th>Business type</th>
      <th>Vehicle</th>
      <th>Contact</th>
      <th>Stock</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trades.each do |trade| %>
      <tr>
        <td><%= trade.store %></td>
        <td><%= trade.user %></td>
        <td><%= trade.active %></td>
        <td><%= trade.business_type %></td>
        <td><%= trade.vehicle %></td>
        <td><%= trade.contact %></td>
        <td><%= trade.stock %></td>
        <td><%= trade.value %></td>
        <td><%= link_to 'Show', trade %></td>
        <td><%= link_to 'Edit', edit_trade_path(trade) %></td>
        <td><%= link_to 'Destroy', trade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trade', new_trade_path %>
