<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @trade.store %>
</p>

<p>
  <strong>User:</strong>
  <%= @trade.user %>
</p>

<p>
  <strong>Active:</strong>
  <%= @trade.active %>
</p>

<p>
  <strong>Business type:</strong>
  <%= @trade.business_type %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @trade.vehicle %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @trade.contact %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @trade.stock %>
</p>

<p>
  <strong>Value:</strong>
  <%= @trade.value %>
</p>

<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
