<div>
  <ul>
  	<lu> <%= link_to('Lojas', stores_path) %> </lu>
  	<lu> <%= link_to('Usuários', users_path) %> </lu>
  	<lu> <%= link_to('Sair', destroy_user_session_path, :method => :delete) %> </lu>
  </ul>
</div>
