<!DOCTYPE html>
<html>
<head>
  <title>Tradingcar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in?%>
    <%= render 'layouts/header' %>

	<% if current_user.user_type_id== 1%>
    	<%= render 'layouts/menu_adm' %>
	<% end %>

<% else %>
  	<%= render 'layouts/no_session_header' %>
<% end %>

<%= yield %>

</body>
</html>
